{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form class="modal-content" method="post">
        <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="clearfix">
                <a href="{{ path('home') }}"> <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Quitter</button></a>
                <button type="submit" class="signupbtn">Valider</button>
            </div>
        </div>
        <div class="forgot" style="text-align: center;">
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
        </div>
    </form>
{% endblock %}
