<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

<div class="navbar">
    {% if app.user.id is defined %}
    <a class="active" href="{{ path('AllTasks') }}">
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="Todo&Co" width="50%"/>
    </a>
    {% else %}
    <a class="active" href="{{ path('home') }}">
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="Todo&Co" width="50%"/>
    </a>
    {% endif %}

    {% if  is_granted('ROLE_ADMIN')  %}
        <!-- The overlay -->
        <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <!-- Overlay content -->
            <div class="overlay-content">
                <a href="{{ path('registration') }}"> Créer un utilisateur - </a>
                <a href="{{ path('user_edit') }}">Editer un utilisateur</a>
            </div>

        </div>

        <!-- Use any element to open/show the overlay navigation menu -->
        <span onclick="openNav()">
            <a href="#" class="navb"> Utilisateurs</a>
                </span>
    {% endif %}
    {% if app.user.username is defined  %}
        <a href="{{ path('app_logout') }}" class="navb2">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="navb2">Se connecter</a>
    {% endif %}
    <div class="hl"></div>
</div>


{% block body %}


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
    </script>
    <script>
        function myFunction() {
            let input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock %}
</body>
</html>
